<div class="box bg-F6" style="position: relative;">
    <i class="fas fa-times-circle" style="position:absolute;top:.5rem; right:.5rem; cursor:pointer;"></i>
    <div class="form-edit p-3">
        <div class="form-edit-row-flex">
            <div class="form-box-flex w-100">
                <label for="machine_name" class="form-lable">NVL</label>
                <select name="machine_name" class="form-select" id="machine_name">
                                                        <option value="0">Chọn NVL</option>
                                                        <option value="1">NVL</option>
                                                    </select>
            </div>
        </div>
    </div>
    <!-- chỉ show khi đã chọn NVL -->
    <div class="t-left px-3">
        <p class="my-2">ĐVT: <strong>Kg</strong></p>
        <p class="my-2">Số lượng hiện tại: <strong>1.5637</strong></p>

        <div class="d-flex">
            <p class="my-2 mr-2">Số lượng sau kiểm kê:
            </p>
            <div class="amount" style="display: inline-block;">
                <button class="minus"><img src="public/images/minus.png" alt=""></button>
                <input type="text" value="1">
                <button class="plus"><img src="public/images/plus.png" alt=""></button>
            </div>
        </div>
    </div>
</div>