<div class="box bg-F6">
    <div class="form-info w-100">
        <div class="form-info-content justify-content-center">
            <div class="form-info-right w-100">
                <div class="form-info-row" style="align-items: flex-start;">
                    <label for="title" class="form-info-lable">Sản phẩm</label>
                    <div class="form-info-input-content ">
                        <!-- product items -->
                        <div class="bg-white py-2 px-3 my-1">
                            <div class="py-2" style="border-bottom: 1px dashed #C4C4C4">
                                <strong>NGON MÊ LY R365</strong>
                                <p class="mt-2">NML-R365</p>
                                <p class="mt-2">x1234 Thùng</p>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Đơn vị sản phẩm:</span>
                                <span>Ly</span>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Đơn vị đóng gói:</span>
                                <span>Thùng</span>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Quy cách đóng:</span>
                                <span>300 Cái/Thùng</span>
                            </div>
                        </div>
                        <div class="bg-white py-2 px-3 my-1">
                            <div class="py-2" style="border-bottom: 1px dashed #C4C4C4">
                                <strong>NGON MÊ LY R365</strong>
                                <p class="mt-2">NML-R365</p>
                                <p class="mt-2">x1234 Thùng</p>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Đơn vị sản phẩm:</span>
                                <span>Ly</span>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Đơn vị đóng gói:</span>
                                <span>Thùng</span>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Quy cách đóng:</span>
                                <span>300 Cái/Thùng</span>
                            </div>
                        </div>
                        <div class="bg-white py-2 px-3 my-1">
                            <div class="py-2" style="border-bottom: 1px dashed #C4C4C4">
                                <strong>NGON MÊ LY R365</strong>
                                <p class="mt-2">NML-R365</p>
                                <p class="mt-2">x1234 Thùng</p>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Đơn vị sản phẩm:</span>
                                <span>Ly</span>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Đơn vị đóng gói:</span>
                                <span>Thùng</span>
                            </div>
                            <div class="d-flex py-2 align-item-center">
                                <span class="fz-075rem t-lable mr-3">Quy cách đóng:</span>
                                <span>300 Cái/Thùng</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-info-row">
                    <label for="title" class="form-info-lable">Ngày nhận</label>
                    <div class="form-info-input-content t-left">
                        <input type="date" name="date_give" id="date_give" value="2021-04-21">
                    </div>
                </div>
                <div class="form-info-row">
                    <label for="title" class="form-info-lable">Mã khách hàng</label>
                    <div class="form-info-input-content t-left">
                        <strong>KH12345678</strong>
                    </div>
                </div>
                <div class="form-info-row">
                    <label for="title" class="form-info-lable">Tên công ty</label>
                    <div class="form-info-input-content t-left">
                        <strong>Công ty Cổ Phần XYZ</strong>
                    </div>
                </div>
                <div class="form-info-row align-item-start">
                    <label for="title" class="form-info-lable">Địa chỉ</label>
                    <div class="form-info-input-content t-left">
                        <strong>157/17/1 Nguyen Gia Tri Street, Ward 25, Binh Thanh District, HCM City</strong>
                    </div>
                </div>
                <div class="form-info-row" style="align-items: flex-start;">
                    <label for="title" class="form-info-lable">Ghi chú</label>
                    <div class="form-info-input-content t-left">
                        <p>Ghi chú</p>

                    </div>
                </div>
                <div class="form-info-row">
                    <label for="title" class="form-info-lable">Tổng giá trị</label>
                    <div class="form-info-input-content t-left">
                        <strong>59.400.000 đ</strong>
                    </div>
                </div>
                <div class="form-info-row">
                    <label for="title" class="form-info-lable">Trạng thái</label>
                    <div class="form-info-input-content t-left">
                        <p class="t-blue">ĐANG XỬ LÝ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>