<div class="d-flex justify-content-space-between align-item-center bg-F6 p-2 my-1">
    <select name="" id="" class="w-40 p-1 mx-1">
        <option value="0">Chọn thành phẩm</option>
    </select>
    <div class="amount mx-1">
        <button class="minus"><img src="public/images/minus.png" alt=""></button>
        <input type="text" class="t-center" value="1">
        <button class="plus"><img src="public/images/plus.png" alt=""></button>
    </div>
    <select name="" id="" class="w-20 p-1 mx-1">
        <option value="0">ĐVT</option>
    </select>
    <i class="fas fa-times-circle icon ml-1"></i>
</div>