<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="public/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="public/reset.css" rel="stylesheet" type="text/css" />
    <link href="public/global.css" rel="stylesheet" type="text/css" />
    <link href="public/css/font-awesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="public/style.css" rel="stylesheet" type="text/css" />
    <link href="public/responsive.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="public/carousel/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="public/carousel/owl-carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">

    <link rel="icon" href="public/images/logolink.png" type="image/x-icon">

    <title>QLSX - Cường Thịnh Phúc</title>
</head>

<body>
    <header>
        <div id="wp-header" class="header-customer">
            <nav class="bot-header">
                <div class="dir-user">
                    <div class="dir-tx">
                        <div class="fz-075rem t-right">Tài khoản</div>
                        <p>Jemis Kevin</p>
                    </div>
                    <div class="icon">
                        <span><img src="public/images/avatar.png" alt=""></span>
                    </div>
                    <div class="arrow-down">
                        <span><img src="public/images/arrow_down.png" alt=""></span>
                    </div>
                </div>

                <div class="ring-bell">
                    <!-- header-cart -->
                    <span class="d-block icon"><img src="public/images/bell.png" alt=""></span>
                    <span class="amount">4</span>
                </div>

                <div class="dir-box" id="dir_box">
                    <span class="triangle"></span>
                    <div class="box-text">
                        <a href="my-info.html">Tài khoản của tôi</a>
                        <a href="my-reset-password.html">Thay đổi mật khẩu</a>
                        <a href="index.html">Đăng xuất</a>
                    </div>
                </div>

                <div class="logo">
                    <a href="#"><img src="public/images/logo.png" alt=""></a>
                </div>
            </nav>
        </div>
        <div id="header-hidden"></div>
    </header>

    <!-- END HEADER -->
    <div id="wp-admin">
        <!-- sidebar left fixed -->
        <div id="sidebar-left">
            <ul id="main-menu">
                <li class="item"><a href="customer_index.html">Dasboard</a></li>
                <li class="item"><a href="customer_list_customer.html">Khách hàng</a></li>
                <li class="item"><a href="customer_list_order.html">Đơn hàng</a></li>
                <li class="item"><a href="customer_list_product_inventory.html">Kho hàng</a></li>
                <li class="item active"><a href="customer_list_inventory.html">Kiểm kê kho</a></li>
                <li class="item"><a href="customer_list_production.html">Sản xuất</a></li>
                <li class="item"><a href="customer_list_vendor.html">Nhà cung ứng</a></li>
                <li class="item"><a href="customer_list_product.html">Sản phẩm</a></li>
                <li class="item"><a href="customer_list_ship.html">Vận chuyển</a></li>
                <li class="item"><a href="customer_list_account.html">Tài khoản</a></li>
                <li class="item"><a href="customer_setting.html">Cài đặt</a></li>
            </ul>
        </div>
        <div id="sidebar-left-hidden"></div>
        <!-- wp content -->
        <div id="wp-content">
            <!-- content -->
            <div id="content" class="w-100" style="float: none;">
                <h1 class="heading">
                    Khách hàng
                </h1>
                <div class="form-edit d-flex justify-content-space-between p-0 mb-3" style="height: 36px; align-items: flex-end;">
                    <span data-tag="a" type="add_module" class="visible-hidden t-green-main d-block t-right w-20 t-left">+ Thêm khách hàng</span>
                    <!-- filter date -->
                    <!-- <div class="form-edit-row-flex align-item-center">
                        <div class="form-edit-row m-0 mx-3">
                            <p>Từ</p>
                        </div>
                        <div class="form-edit-row m-0">
                            <input type="date" class="form-input py-1 px-2">
                        </div>
                        <div class="form-edit-row m-0 mx-3">
                            <p>Đến</p>
                        </div>
                        <div class="form-edit-row m-0">
                            <input type="date" class="form-input py-1 px-2">
                        </div>
                    </div> -->

                    <div class="form-edit-row m-0 w-35">
                        <div class="search" style="position: relative;">
                            <input type="text" name="search" id="search" placeholder="Tìm kiếm..." class="form-input py-1 px-2" value="">
                            <button class="input d-flex">
                                <span class="icon" style="position: absolute;top: .5rem; right: .75rem;"><img src="public/images/search_black.png" alt=""></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box p-0">
                    <!-- tab -->
                    <!-- tabs container -->
                    <div class="tabs-container">
                        <ul class="sub-menu nav nav-tabs tab-border-top-danger" style="position: relative;">
                            <li class="sub-item active">
                                <a data-toggle="tab" href="#tab-1" aria-expanded="true">Thành phẩm</a>
                            </li>
                            <li class="sub-item">
                                <a data-toggle="tab" href="#tab-2" aria-expanded="false">Nguyên vật liệu</a>
                            </li>

                            <div style="display: flex; justify-content: space-between; position: absolute; top: .5rem; right: .5rem; width: 20%; align-items: center;">
                                <p>Chế độ xem</p>
                                <div>
                                    <select name="filter_by_page" id="filter_by_page" class="py-1 px-3">
                                        <option value="1">Theo trang</option>
                                    </select>
                                </div>
                            </div>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <span data-tag="a" type="add_module" class="get_modal my-2 t-green-main d-block t-right w-20 t-left">+Nhập kiểm kê sản phẩm</span>

                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Ngày kiểm kê
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã lệnh kiểm kê
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="info_order_history" class="click_doubble get_modal">
                                                <td>2021-05-21</td>
                                                <td>MKK12345</td>
                                                <td class="t-center">
                                                    <a href="customer_inventory_detail.html" class="t-green-main my-1">Chi tiết</a>
                                                </td>
                                            </tr>
                                            <tr data-id-customer="1" type="info_order_history" class="click_doubble get_modal">
                                                <td>2021-05-21</td>
                                                <td>MKK12345</td>
                                                <td class="t-center">
                                                    <a href="customer_inventory_detail.html" class="t-green-main my-1">Chi tiết</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Mã đơn hàng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã sản phẩm
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã KH
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày đặt
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="info_processing" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>
                                                    <span class="rounder">
                                                        QTR365
                                                    </span>
                                                    <span class="rounder">+2</span>
                                                </td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                            </tr>
                                            <tr data-id-customer="2" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>
                                                    <span class="rounder">
                                                        QTR365
                                                    </span>
                                                    <span class="rounder">+2</span>
                                                </td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Mã đơn hàng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã KH
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày đặt
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày nhận
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Tổng giá trị
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                                <td>223.000.000 đ</td>
                                            </tr>
                                            <tr data-id-customer="2" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                                <td>223.000.000 đ</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Mã đơn hàng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã vận chuyển
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã KH
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày đặt
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày nhận
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>VC7161638</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                            </tr>
                                            <tr data-id-customer="2" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>VC7161638</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab-5" class="tab-pane">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Mã đơn hàng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã KH
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày đặt
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày nhận
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                            </tr>
                                            <tr data-id-customer="2" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab-6" class="tab-pane">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Mã đơn hàng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã KH
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày đặt
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày nhận
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày thanh toán
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                                <td>2021-05-21</td>
                                            </tr>
                                            <tr data-id-customer="2" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                                <td>2021-05-21</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab-7" class="tab-pane">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Mã đơn hàng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã KH
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày đặt
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Ngày hủy
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Lý do hủy
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                                <td>Đổi ý, không mua nữa...</td>
                                            </tr>
                                            <tr data-id-customer="2" type="info_order_history" class="click_doubble get_modal">
                                                <td>MDH879879</td>
                                                <td>KH1234567</td>
                                                <td>2021-05-05</td>
                                                <td>2021-05-21</td>
                                                <td>Đổi ý, không mua nữa...</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- modal create / edit -->
    <div class="modal" id="add_module">
        <div class="modal-box w-50" style=" margin-top: 50px;">
            <div class="modal-title">
                <h4>Thêm khách hàng</h4>
                <span class="icon" data-tag="a">
                    <img src="public/images/x-black.png" alt="">
                </span>
            </div>
            <div class="modal-content">
                <div class="form-info">
                    <div class="form-info-content">
                        <div class="form-info-right w-100">
                            <div class="form-info-row align-item-center">
                                <label for="title" class="form-info-lable t-left">Ngày kiểm kê</label>
                                <div class="form-info-input-content">
                                    <input type="date" name="" id="" value="2021-04-21" class="w-40">
                                </div>
                            </div>
                            <div class="box bg-F6" style="position: relative;">
                                <i class="fas fa-times-circle" style="position:absolute;top:.5rem; right:.5rem; cursor:pointer;"></i>
                                <div class="form-edit p-3">
                                    <div class="form-edit-row-flex">
                                        <div class="form-box-flex w-100">
                                            <label for="machine_name" class="form-lable">NVL</label>
                                            <select name="machine_name" class="form-select" id="machine_name">
                                                        <option value="0">Chọn NVL</option>
                                                        <option value="1">NVL</option>
                                                    </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- chỉ show khi đã chọn NVL -->
                                <div class="t-left px-3">
                                    <p class="my-2">ĐVT: <strong>Kg</strong></p>
                                    <p class="my-2">Số lượng hiện tại: <strong>1.5637</strong></p>

                                    <div class="d-flex">
                                        <p class="my-2 mr-2">Số lượng sau kiểm kê:
                                        </p>
                                        <div class="amount" style="display: inline-block;">
                                            <button class="minus"><img src="public/images/minus.png" alt=""></button>
                                            <input type="text" value="1">
                                            <button class="plus"><img src="public/images/plus.png" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span data-tag="a" class=" t-green-main d-block t-right w-20 t-left">+Thêm NVL</span>
                        </div>
                    </div>
                </div>
                <div class="item-content t-right mg-t-175rem ">
                    <button id="add_file" class="btn-submit w-20 d-inline-block fz-1rem">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal delete file attach -->
    <div class="modal" id="delete_module">
        <div class="modal-box w-40">
            <div class="modal-title">
                <h4>Xóa thông tin</h4>
                <span class="icon" data-tag="a">
                    <img src="public/images/x-black.png" alt="">
                </span>
            </div>
            <div class="modal-content">
                <div class="mg-t-2rem t-center">
                    <span class="d-inline-block tick-success "><img src="public/images/warning-del.png " alt=" "></span>
                    <p class="t-center mg-t-2rem fz-125rem">Bạn có chắc muốn xóa hình ảnh này?</p>
                </div>
                <div class="t-center mg-t-175rem">
                    <button id="add_file" class="btn-submit w-20 d-inline-block fz-1rem">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>


    <!-- END FOOTER -->
    <script src="public/js/jquery.js " type="text/javascript "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
    <script src="public/js/bootstrap/bootstrap.min.js " type="text/javascript "></script>
    <script src="public/carousel/owl-carousel/owl.carousel.min.js "></script>
    <script src="public/js/plugins/ckeditor/ckeditor.js " type="text/javascript "></script>

    <script src="public/js/main.js " type="text/javascript "></script>
    <script src="public/js/app.js " type="text/javascript "></script>

    <script src="public/js/progress_bar.js " type="text/javascript "></script>
    <script src="public/js/view_img.js " type="text/javascript "></script>

    <script>
    </script>
</body>

</html>