<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="public/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="public/reset.css" rel="stylesheet" type="text/css" />
    <link href="public/global.css" rel="stylesheet" type="text/css" />
    <link href="public/css/font-awesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="public/style.css" rel="stylesheet" type="text/css" />
    <link href="public/responsive.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="public/carousel/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="public/carousel/owl-carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">

    <link rel="icon" href="public/images/logolink.png" type="image/x-icon">

    <title>QLSX - Cường Thịnh Phúc</title>
</head>

<body>
    <header>
        <div id="wp-header" class="header-customer">
            <nav class="bot-header">
                <div class="dir-user">
                    <div class="dir-tx">
                        <div class="fz-075rem t-right">Tài khoản</div>
                        <p>Jemis Kevin</p>
                    </div>
                    <div class="icon">
                        <span><img src="public/images/avatar.png" alt=""></span>
                    </div>
                    <div class="arrow-down">
                        <span><img src="public/images/arrow_down.png" alt=""></span>
                    </div>
                </div>

                <div class="ring-bell">
                    <!-- header-cart -->
                    <span class="d-block icon"><img src="public/images/bell.png" alt=""></span>
                    <span class="amount">4</span>
                </div>

                <div class="dir-box" id="dir_box">
                    <span class="triangle"></span>
                    <div class="box-text">
                        <a href="my-info.html">Tài khoản của tôi</a>
                        <a href="my-reset-password.html">Thay đổi mật khẩu</a>
                        <a href="index.html">Đăng xuất</a>
                    </div>
                </div>

                <div class="logo">
                    <a href="#"><img src="public/images/logo.png" alt=""></a>
                </div>
            </nav>
        </div>
        <div id="header-hidden"></div>
    </header>

    <!-- END HEADER -->
    <div id="wp-admin">
        <!-- sidebar left fixed -->
        <div id="sidebar-left">
            <ul id="main-menu">
                <li class="item active">
                    <a href="customer_index.html">
                        <svg class="icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.8746 8.89909C21.7527 8.89959 21.6323 8.87223 21.5226 8.81909L12.2746 4.09909L3.02663 8.78709C2.82931 8.88045 2.60298 8.8916 2.39744 8.81808C2.1919 8.74457 2.02399 8.59241 1.93063 8.39509C1.83727 8.19777 1.82613 7.97145 1.89964 7.76591C1.97316 7.56037 2.12531 7.39245 2.32263 7.29909L12.2746 2.37109L22.2266 7.29909C22.4364 7.3481 22.6184 7.47777 22.7333 7.66002C22.8482 7.84227 22.8866 8.06243 22.8403 8.27283C22.794 8.48322 22.6667 8.66692 22.486 8.78413C22.3053 8.90135 22.0856 8.94265 21.8746 8.89909ZM8.27463 16.8991H3.47463V21.6991H8.27463V16.8991ZM14.6746 16.8991H9.87463V21.6991H14.6746V16.8991ZM21.0746 16.8991H16.2746V21.6991H21.0746V16.8991ZM17.8746 10.4991H13.0746V15.2991H17.8746V10.4991ZM11.4746 10.4991H6.67463V15.2991H11.4746V10.4991Z" fill="#15A4DD"/>
                            </svg>Kho hàng
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-item active"><a href="iventory_index.html">Thành phẩm</a></li>
                        <li class="sub-item"><a href="inventory_material.html">NVL</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="iventory_ship.html">
                        <svg class="icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M18.6932 15.1641C17.025 15.1641 15.668 16.5211 15.668 18.1893C15.668 19.8574 17.025 21.2145 18.6932 21.2145C20.3616 21.2145 21.7184 19.8574 21.7184 18.1893C21.7184 16.5211 20.3613 15.1641 18.6932 15.1641ZM18.6932 19.7019C17.859 19.7019 17.1806 19.0235 17.1806 18.1893C17.1806 17.3551 17.859 16.6767 18.6932 16.6767C19.5274 16.6767 20.2058 17.3551 20.2058 18.1893C20.2058 19.0235 19.5274 19.7019 18.6932 19.7019Z" fill="#333333"/>
                            <path d="M8.35725 15.1641C6.68911 15.1641 5.33203 16.5211 5.33203 18.1893C5.33203 19.8574 6.68911 21.2145 8.35725 21.2145C10.0254 21.2145 11.3825 19.8574 11.3825 18.1893C11.3825 16.5211 10.0254 15.1641 8.35725 15.1641ZM8.35725 19.7019C7.52306 19.7019 6.84464 19.0235 6.84464 18.1893C6.84464 17.3551 7.52306 16.6767 8.35725 16.6767C9.1912 16.6767 9.86986 17.3551 9.86986 18.1893C9.86986 19.0235 9.19144 19.7019 8.35725 19.7019Z" fill="#333333"/>
                            <path d="M20.7333 6.50438C20.6047 6.249 20.3433 6.08789 20.0574 6.08789H16.0742V7.6005H19.591L21.6504 11.6966L23.0022 11.0169L20.7333 6.50438Z" fill="#333333"/>
                            <path d="M16.4258 17.457H10.7031V18.9696H16.4258V17.457Z" fill="#333333"/>
                            <path d="M6.09294 17.457H3.47113C3.05337 17.457 2.71484 17.7956 2.71484 18.2133C2.71484 18.6311 3.05342 18.9696 3.47113 18.9696H6.09298C6.51073 18.9696 6.84927 18.631 6.84927 18.2133C6.84927 17.7956 6.51069 17.457 6.09294 17.457Z" fill="#333333"/>
                            <path d="M24.4131 12.833L22.9255 10.9171C22.7826 10.7325 22.562 10.6246 22.3283 10.6246H16.8325V5.3305C16.8325 4.91275 16.4939 4.57422 16.0762 4.57422H3.47112C3.05337 4.57422 2.71484 4.9128 2.71484 5.3305C2.71484 5.7482 3.05342 6.08678 3.47112 6.08678H15.3199V11.3809C15.3199 11.7986 15.6584 12.1372 16.0761 12.1372H21.9579L23.0593 13.556V17.4565H20.9669C20.5491 17.4565 20.2106 17.7951 20.2106 18.2128C20.2106 18.6305 20.5492 18.9691 20.9669 18.9691H23.8156C24.2334 18.9691 24.5719 18.6305 24.572 18.2128V13.2969C24.572 13.129 24.516 12.9656 24.4131 12.833Z" fill="#333333"/>
                            <path d="M6.04389 13.625H2.56487C2.14712 13.625 1.80859 13.9636 1.80859 14.3813C1.80859 14.799 2.14717 15.1376 2.56487 15.1376H6.04384C6.46159 15.1376 6.80013 14.799 6.80013 14.3813C6.80017 13.9636 6.46159 13.625 6.04389 13.625Z" fill="#333333"/>
                            <path d="M7.78039 10.6504H1.32659C0.908891 10.6504 0.570312 10.989 0.570312 11.4067C0.570312 11.8245 0.908891 12.163 1.32659 12.163H7.78039C8.19814 12.163 8.53667 11.8244 8.53667 11.4067C8.53667 10.989 8.19814 10.6504 7.78039 10.6504Z" fill="#333333"/>
                            <path d="M9.01867 7.67578H2.56488C2.14712 7.67578 1.80859 8.01436 1.80859 8.43206C1.80859 8.84981 2.14717 9.18834 2.56488 9.18834H9.01867C9.43642 9.18834 9.77495 8.84977 9.77495 8.43206C9.775 8.01436 9.43642 7.67578 9.01867 7.67578Z" fill="#333333"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect width="24" height="24" fill="white" transform="translate(0.570312 0.894531)"/>
                            </clipPath>
                            </defs>
                            </svg>Vận chuyển
                    </a>
                </li>
            </ul>
        </div>
        <div id="sidebar-left-hidden"></div>
        <!-- wp content -->
        <div id="wp-content">
            <!-- content -->
            <div id="content" class="w-100" style="float: none;">
                <h1 class="heading mb-4">
                    Kho hàng
                </h1>
                <div class="form-edit d-flex justify-content-space-between p-0 mb-3" style="height: 36px; align-items: flex-end;">
                    <span data-tag="a" type="add_module" class="visible-hidden t-green-main d-block t-right w-20 t-left">+Thêm tài khoản</span>
                    <!-- filter date -->
                    <!-- <div class="form-edit-row-flex align-item-center">
                        <div class="form-edit-row m-0">
                            <input type="date" class="form-input py-1 px-2">
                        </div>
                        <div class="form-edit-row m-0 mx-3">
                            <p>Đến</p>
                        </div>
                        <div class="form-edit-row m-0">
                            <input type="date" class="form-input py-1 px-2">
                        </div>
                    </div> -->

                    <div class="form-edit-row m-0 w-35">
                        <div class="search" style="position: relative;">
                            <input type="text" name="search" id="search" placeholder="Tìm kiếm..." class="form-input py-1 px-2" value="">
                            <button class="input d-flex">
                                <span class="icon" style="position: absolute;top: .5rem; right: .75rem;"><img src="public/images/search_black.png" alt=""></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box p-0">
                    <!-- tab -->
                    <!-- tabs container -->
                    <div class="tabs-container">
                        <ul class="sub-menu nav nav-tabs tab-border-top-danger" style="position: relative;">
                            <li class="sub-item active">
                                <a data-toggle="tab" href="#tab-1" aria-expanded="true">Xuất nhập tồn</a>
                            </li>
                            <li class="sub-item">
                                <a data-toggle="tab" href="#tab-2" aria-expanded="false">Nhập kho</a>
                            </li>
                            <li class="sub-item">
                                <a data-toggle="tab" href="#tab-3" aria-expanded="false">Xuất kho</a>
                            </li>

                            <div style="display: flex; justify-content: space-between; position: absolute; top: .5rem; right: .5rem; width: 20%; align-items: center;">
                                <p>Chế độ xem</p>
                                <div>
                                    <select name="filter_by_page" id="filter_by_page" class="py-1 px-3">
                                        <option value="1">Theo trang</option>
                                    </select>
                                </div>
                            </div>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Mã sản phẩm
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Tồn đầu kỳ
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Nhập
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Xuất
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Tồn cuối kỳ
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>ĐVT
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="edit_module" class="click_doubble get_modal">
                                                <td>W-R365</td>
                                                <td>92</td>
                                                <td>Admin</td>
                                                <td>176.892</td>
                                                <td>176.892</td>
                                                <td>176.892</td>
                                                <td>Thùng</td>
                                            </tr>
                                            <tr data-id-customer="2" type="edit_module" class="click_doubble get_modal">
                                                <td>W-R365</td>
                                                <td>92</td>
                                                <td>Admin</td>
                                                <td>176.892</td>
                                                <td>176.892</td>
                                                <td>176.892</td>
                                                <td>Thùng</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <span data-tag="a" type="add_import" class="get_modal t-green-main d-block t-right w-20 t-left p-2">+ Thêm phiếu nhập</span>

                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Ngày nhập
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Phiếu nhập
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã sản phẩm
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>ĐVT
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Số lượng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Bộ phận
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="edit_module" class="click_doubble get_modal">
                                                <td>2021-05-06</td>
                                                <td>W05-01</td>
                                                <td>W-R365</td>
                                                <td>3000</td>
                                                <td>3000</td>
                                                <td>Máy ly</td>
                                            </tr>
                                            <tr data-id-customer="2" type="edit_module" class="click_doubble get_modal">
                                                <td>2021-05-06</td>
                                                <td>W05-01</td>
                                                <td>W-R365</td>
                                                <td>3000</td>
                                                <td>3000</td>
                                                <td>Máy ly</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <span data-tag="a" type="add_export" class="get_modal t-green-main d-block t-right w-20 t-left p-2">+ Thêm phiếu xuất</span>

                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>Ngày xuất
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Phiếu xuất
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã KH
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>Mã hàng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>
                                                <th>ĐVT
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>

                                                <th>Số lượng
                                                    <span class="sort">
                                        <i class="fas fa-chevron-up arrow"></i>
                                        <i class="fas fa-chevron-down arrow"></i>
                                    </span>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1" type="edit_module" class="click_doubble get_modal">
                                                <td>2021-05-06</td>
                                                <td>W05-01</td>
                                                <td>KH1234567</td>
                                                <td>W-R365</td>
                                                <td>Thùng</td>
                                                <td>3000</td>

                                            </tr>
                                            <tr data-id-customer="2" type="edit_module" class="click_doubble get_modal">
                                                <td>2021-05-06</td>
                                                <td>W05-01</td>
                                                <td>KH1234567</td>
                                                <td>W-R365</td>
                                                <td>Thùng</td>
                                                <td>3000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <ul class="pagination">
                    <li class="item prev"><i class="fas fa-chevron-left"></i></li>
                    <li class="item">1</li>
                    <li class="item">2</li>
                    <li class="item">3</li>
                    <li class="item">4</li>
                    <li class="item">5</li>
                    <li class="item next"><i class="fas fa-chevron-right"></i></li>
                </ul>
            </div>
        </div>

    </div>
    </div>



    <!-- modal create / edit -->
    <div class="modal" id="add_export">
        <div class="modal-box w-50" style=" margin-top: 50px;">
            <div class="modal-title">
                <h4>Thêm phiếu xuất kho</h4>
                <span class="icon" data-tag="a">
                    <img src="public/images/x-black.png" alt="">
                </span>
            </div>
            <div class="modal-content">
                <div class="form-info">
                    <div class="form-info-content">
                        <div class="form-info-right w-100">
                            <div class="form-info-row">
                                <label for="title" class="form-info-lable">Thành phẩm</label>
                                <div class="form-info-input-content">
                                    <!-- thành phẩm -->
                                    <div class="box bg-F6" style="position: relative;">
                                        <i class="fas fa-times-circle" style="position:absolute;top:.5rem; right:.5rem; cursor:pointer;"></i>
                                        <div class="form-edit p-3">
                                            <div class="form-edit-row-flex">
                                                <div class="form-box-flex w-100">
                                                    <select name="machine_name" class="form-select" id="machine_name">
                                                                                            <option value="0">Chọn thành phẩm</option>
                                                                                            <option value="1">W-R365</option>
                                                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- chỉ show khi đã chọn NVL -->
                                        <div class="t-left px-3">
                                            <p class="my-2">ĐVT: <strong>Cái</strong></p>
                                            <div class="d-flex">
                                                <p class="my-2 mr-2">Số lượng</p>
                                                <div class="amount" style="display: inline-block;">
                                                    <button class="minus"><img src="public/images/minus.png" alt=""></button>
                                                    <input type="text" value="1">
                                                    <button class="plus"><img src="public/images/plus.png" alt=""></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- thành phẩm -->
                                    <div class="box bg-F6" style="position: relative;">
                                        <i class="fas fa-times-circle" style="position:absolute;top:.5rem; right:.5rem; cursor:pointer;"></i>
                                        <div class="form-edit p-3">
                                            <div class="form-edit-row-flex">
                                                <div class="form-box-flex w-100">
                                                    <select name="machine_name" class="form-select" id="machine_name">
                                                                                            <option value="0">Chọn thành phẩm</option>
                                                                                            <option value="1">W-R365</option>
                                                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- chỉ show khi đã chọn NVL -->
                                        <div class="t-left px-3">
                                            <p class="my-2">ĐVT: <strong>Cái</strong></p>
                                            <div class="d-flex">
                                                <p class="my-2 mr-2">Số lượng</p>
                                                <div class="amount" style="display: inline-block;">
                                                    <button class="minus"><img src="public/images/minus.png" alt=""></button>
                                                    <input type="text" value="1">
                                                    <button class="plus"><img src="public/images/plus.png" alt=""></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span data-tag="a" type="add_machine" class="get_modal t-green-main d-block t-right t-left p-2">+Thêm thành phẩm</span>

                                </div>
                            </div>
                            <div class="form-info-row">
                                <label for="title" class="form-info-lable">Ghi chú</label>
                                <div class="form-info-input-content">

                                    <textarea name="" id="" cols="30" rows="10" placeholder="Nhập ghi chú..."></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item-content t-right mg-t-175rem ">
                    <button id="add_file" class="btn-submit w-20 d-inline-block fz-1rem">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="add_import">
        <div class="modal-box w-50" style=" margin-top: 50px;">
            <div class="modal-title">
                <h4>Thêm phiếu nhập kho</h4>
                <span class="icon" data-tag="a">
                    <img src="public/images/x-black.png" alt="">
                </span>
            </div>
            <div class="modal-content">
                <div class="form-info">
                    <div class="form-info-content">
                        <div class="form-info-right w-100">
                            <div class="form-info-row">
                                <label for="title" class="form-info-lable">Thành phẩm</label>
                                <div class="form-info-input-content">
                                    <!-- thành phẩm -->
                                    <div class="box bg-F6" style="position: relative;">
                                        <i class="fas fa-times-circle" style="position:absolute;top:.5rem; right:.5rem; cursor:pointer;"></i>
                                        <div class="form-edit p-3">
                                            <div class="form-edit-row-flex">
                                                <div class="form-box-flex w-100">
                                                    <select name="machine_name" class="form-select" id="machine_name">
                                                                                            <option value="0">Chọn thành phẩm</option>
                                                                                            <option value="1">W-R365</option>
                                                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- chỉ show khi đã chọn NVL -->
                                        <div class="t-left px-3">
                                            <p class="my-2">ĐVT: <strong>Cái</strong></p>
                                            <div class="d-flex">
                                                <p class="my-2 mr-2">Số lượng</p>
                                                <div class="amount" style="display: inline-block;">
                                                    <button class="minus"><img src="public/images/minus.png" alt=""></button>
                                                    <input type="text" value="1">
                                                    <button class="plus"><img src="public/images/plus.png" alt=""></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- thành phẩm -->
                                    <div class="box bg-F6" style="position: relative;">
                                        <i class="fas fa-times-circle" style="position:absolute;top:.5rem; right:.5rem; cursor:pointer;"></i>
                                        <div class="form-edit p-3">
                                            <div class="form-edit-row-flex">
                                                <div class="form-box-flex w-100">
                                                    <select name="machine_name" class="form-select" id="machine_name">
                                                                                            <option value="0">Chọn thành phẩm</option>
                                                                                            <option value="1">W-R365</option>
                                                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- chỉ show khi đã chọn NVL -->
                                        <div class="t-left px-3">
                                            <p class="my-2">ĐVT: <strong>Cái</strong></p>
                                            <div class="d-flex">
                                                <p class="my-2 mr-2">Số lượng</p>
                                                <div class="amount" style="display: inline-block;">
                                                    <button class="minus"><img src="public/images/minus.png" alt=""></button>
                                                    <input type="text" value="1">
                                                    <button class="plus"><img src="public/images/plus.png" alt=""></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span data-tag="a" type="add_machine" class="get_modal t-green-main d-block t-right t-left p-2">+Thêm thành phẩm</span>

                                </div>
                            </div>
                            <div class="form-info-row">
                                <label for="title" class="form-info-lable">Ghi chú</label>
                                <div class="form-info-input-content">

                                    <textarea name="" id="" cols="30" rows="10" placeholder="Nhập ghi chú..."></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item-content t-right mg-t-175rem ">
                    <button id="add_file" class="btn-submit w-20 d-inline-block fz-1rem">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal delete file attach -->
    <div class="modal" id="delete_module">
        <div class="modal-box w-40">
            <div class="modal-title">
                <h4>Xóa thông tin</h4>
                <span class="icon" data-tag="a">
                    <img src="public/images/x-black.png" alt="">
                </span>
            </div>
            <div class="modal-content">
                <div class="mg-t-2rem t-center">
                    <span class="d-inline-block tick-success "><img src="public/images/warning-del.png " alt=" "></span>
                    <p class="t-center mg-t-2rem fz-125rem">Bạn có chắc muốn xóa hình ảnh này?</p>
                </div>
                <div class="t-center mg-t-175rem">
                    <button id="add_file" class="btn-submit w-20 d-inline-block fz-1rem">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>


    <!-- END FOOTER -->
    <script src="public/js/jquery.js " type="text/javascript "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
    <script src="public/js/bootstrap/bootstrap.min.js " type="text/javascript "></script>
    <script src="public/carousel/owl-carousel/owl.carousel.min.js "></script>
    <script src="public/js/plugins/ckeditor/ckeditor.js " type="text/javascript "></script>

    <script src="public/js/main.js " type="text/javascript "></script>
    <script src="public/js/app.js " type="text/javascript "></script>

    <script src="public/js/progress_bar.js " type="text/javascript "></script>
    <script src="public/js/view_img.js " type="text/javascript "></script>

    <script>
    </script>
</body>

</html>