<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="public/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="public/reset.css" rel="stylesheet" type="text/css" />
    <link href="public/global.css" rel="stylesheet" type="text/css" />
    <link href="public/css/font-awesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="public/style.css" rel="stylesheet" type="text/css" />
    <link href="public/responsive.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="public/carousel/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="public/carousel/owl-carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">

    <link rel="icon" href="public/images/logolink.png" type="image/x-icon">

    <title>QLSX - Cường Thịnh Phúc</title>
</head>

<body>
    <header>
        <div id="wp-header" class="header-customer">
            <nav class="bot-header">
                <div class="dir-user">
                    <div class="dir-tx">
                        <div class="fz-075rem t-right">Tài khoản</div>
                        <p>Jemis Kevin</p>
                    </div>
                    <div class="icon">
                        <span><img src="public/images/avatar.png" alt=""></span>
                    </div>
                    <div class="arrow-down">
                        <span><img src="public/images/arrow_down.png" alt=""></span>
                    </div>
                </div>

                <div class="ring-bell">
                    <!-- header-cart -->
                    <span class="d-block icon"><img src="public/images/bell.png" alt=""></span>
                    <span class="amount">4</span>
                </div>

                <div class="dir-box" id="dir_box">
                    <span class="triangle"></span>
                    <div class="box-text">
                        <a href="my-info.html">Tài khoản của tôi</a>
                        <a href="my-reset-password.html">Thay đổi mật khẩu</a>
                        <a href="index.html">Đăng xuất</a>
                    </div>
                </div>

                <div class="logo">
                    <a href="#"><img src="public/images/logo.png" alt=""></a>
                </div>
            </nav>
        </div>
        <div id="header-hidden"></div>
    </header>

    <!-- END HEADER -->
    <div id="wp-admin">
        <!-- sidebar left fixed -->
        <div id="sidebar-left">
            <ul id="main-menu">
                <li class="item active">
                    <a href="production_index.html"><i class="far fa-folder icon"></i>Máy màng</a>
                    <ul class="sub-menu">
                        <li class="sub-item active"><a href="#">Tuần 5</a></li>
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="production_index.html"><i class="far fa-folder icon"></i>Máy in</a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="production_index.html"><i class="far fa-folder icon"></i>Thành phẩm</a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="production_index.html"><i class="far fa-folder icon"></i>Máy ly</a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                        <li class="sub-item"><a href="#">Tuần 5</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="sidebar-left-hidden"></div>
        <!-- wp content -->
        <div id="wp-content">
            <!-- content -->
            <div id="content" class="w-100" style="float: none;">
                <h1 class="heading mb-4">
                    Máy màng
                </h1>
                <div class="form-edit d-flex justify-content-space-between p-0 mb-3" style="height: 36px; align-items: flex-end;">
                    <!-- filter date -->
                    <span>Từ ngày 2017-03-06 đến ngày 2017-03-12</span>
                    <button class="btn btn-green btn-outline bg-white">Xuất dữ liệu</button>
                    <!-- search -->
                    <!-- <div class="form-edit-row m-0 w-35">
                        <div class="search" style="position: relative;">
                            <input type="text" name="search" id="search" placeholder="Tìm kiếm..." class="form-input py-1 px-2" value="">
                            <button class="input d-flex">
                                <span class="icon" style="position: absolute;top: .5rem; right: .75rem;"><img src="public/images/search_black.png" alt=""></span>
                            </button>
                        </div>
                    </div> -->
                </div>
                <div class="box p-0">
                    <!-- tab -->
                    <!-- tabs container -->
                    <div class="tabs-container">

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body" style="height: 554px; overflow-y: scroll;">
                                    <!-- panel content -->
                                    <table class="table table-bordered">
                                        <thead style="background-color: #FFF6E5;">
                                            <tr>
                                                <th>
                                                    Chi tiết
                                                </th>
                                                <th>Ca
                                                </th>
                                                <th>Thứ 2
                                                    <p class="t-label pt-1 fz-075rem fw-400">2017-03-06</p>
                                                </th>
                                                <th>Thứ 3
                                                    <p class="t-label pt-1 fz-075rem fw-400">2017-03-06</p>
                                                </th>
                                                <th>Thứ 4
                                                    <p class="t-label pt-1 fz-075rem fw-400">2017-03-06</p>
                                                </th>
                                                <th>Thứ 5
                                                    <p class="t-label pt-1 fz-075rem fw-400">2017-03-06</p>
                                                </th>
                                                <th>Thứ 6
                                                    <p class="t-label pt-1 fz-075rem fw-400">2017-03-06</p>
                                                </th>
                                                <th>Thứ 7
                                                    <p class="t-label pt-1 fz-075rem fw-400">2017-03-06</p>
                                                </th>
                                                <th>Chủ nhật
                                                    <p class="t-label pt-1 fz-075rem fw-400">2017-03-06</p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id-customer="1">
                                                <td class="t-center">
                                                    <span data-tag="a" type="info_production" class="get_modal t-center t-green-main t-right t-left">MÁY MÀNG 1 <i class="fas fa-edit"></i></span>
                                                </td>
                                                <td class="bg-pink">NGÀY</td>
                                                <td>TRẮNG XANH</td>
                                                <td>TRẮNG XANH</td>
                                                <td>65ML +115 ML</td>
                                                <td></td>
                                                <td>
                                                    NẮP LỚN
                                                </td>
                                                <td>
                                                    R365 Đ
                                                </td>
                                                <td>
                                                    R365 Đ
                                                </td>
                                            </tr>
                                            <tr data-id-customer="2">
                                                <td class="t-center">
                                                    <span data-tag="a" type="info_production" class="get_modal t-center t-green-main  t-right t-left">MÁY MÀNG 1 <i class="fas fa-edit"></i></span>
                                                </td>
                                                <td class="bg-pink">NGÀY</td>
                                                <td>TRẮNG XANH</td>
                                                <td>TRẮNG XANH</td>
                                                <td>65ML +115 ML</td>
                                                <td></td>
                                                <td>
                                                    NẮP LỚN
                                                </td>
                                                <td>
                                                    R365 Đ
                                                </td>
                                                <td>
                                                    R365 Đ
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <ul class="pagination">
                    <li class="item prev"><i class="fas fa-chevron-left"></i></li>
                    <li class="item">1</li>
                    <li class="item">2</li>
                    <li class="item">3</li>
                    <li class="item">4</li>
                    <li class="item">5</li>
                    <li class="item next"><i class="fas fa-chevron-right"></i></li>
                </ul> -->
            </div>
        </div>

    </div>
    </div>


    <!-- Modal info order history-->
    <div class="modal" id="info_production">
        <div class="modal-box w-60">
            <div class="modal-title">
                <h4>Thêm lệnh sản xuất</h4>
                <span class="icon" data-tag="a">
                            <img src="public/images/x-black.png" alt="">
                        </span>
            </div>
            <div class="modal-content">
                <div class="form-edit-row-flex  align-item-center" style="position: relative;">
                    <div class="form-edit-row my-3 t-left">
                        <select name="" id="">
                            <option value="0">Chọn tuần</option>
                            <option value="1">Tuần 5</option>
                        </select>
                        <span>Từ ngày 2017-03-06 đến ngày 2017-03-12</span>
                    </div>
                    <button class="btn btn-green btn-outline bg-white" style="position:absolute; top:0; right:0;">Xuất dữ liệu</button>
                </div>
                <!-- table -->
                <table class="table table-bordered">
                    <thead style="background-color: #FFF6E5;">
                        <tr>
                            <td>
                                Bộ phận
                            </td>
                            <td colspan="5">MÁY MÀNG</thtd>
                        </tr>
                    </thead>
                    <thead style="background-color: #FFF6E5;">
                        <tr>
                            <td>
                                Ca
                            </td>
                            <td colspan="5">SÁNG</td>
                        </tr>
                    </thead>
                    <thead style="background-color: #FFF6E5;">
                        <tr>
                            <td>
                                Tên hàng ra
                            </td>
                            <td>
                                ĐVT/ĐV ĐÓNG GÓI
                            </td>
                            <td>
                                QUY CÁCH
                            </td>
                            <td>
                                LOẠI NHỰA
                            </td>
                            <td>
                                SỐ LƯỢNG CHẠY
                            </td>
                            <td>
                                Ghi chú
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-id-customer="1" type="info_order_history" class="click_doubble get_modal">
                            <td>
                                R460
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                1L2x630
                            </td>
                            <td>
                                PP TRONG
                            </td>
                            <td>
                                5.0 cuộn
                            </td>
                            <td rowspan="2" class="align-middle">
                                CHẠY MẪU THỬ R460
                            </td>

                        </tr>
                        <tr data-id-customer="2" type="info_order_history" class="click_doubble get_modal">
                            <td>
                                R460
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                1L2x630
                            </td>
                            <td>
                                PP TRONG
                            </td>
                            <td>
                                5.0 cuộn
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- END FOOTER -->
    <script src="public/js/jquery.js " type="text/javascript "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
    <script src="public/js/bootstrap/bootstrap.min.js " type="text/javascript "></script>
    <script src="public/carousel/owl-carousel/owl.carousel.min.js "></script>
    <script src="public/js/plugins/ckeditor/ckeditor.js " type="text/javascript "></script>

    <script src="public/js/main.js " type="text/javascript "></script>
    <script src="public/js/app.js " type="text/javascript "></script>

    <script src="public/js/progress_bar.js " type="text/javascript "></script>
    <script src="public/js/view_img.js " type="text/javascript "></script>

    <script>
    </script>
</body>

</html>