<div id="sidebar-left">
    <ul id="main-menu">
        <li class="item active">
            <a href="production_index.html"><i class="far fa-folder"></i>Máy màng</a>
            <ul class="sub-menu">
                <li class="sub-item active">Tuần 5</li>
                <li class="sub-item active">Tuần 5</li>
                <li class="sub-item active">Tuần 5</li>
            </ul>
        </li>
        <li class="item">
            <a href="production_index.html"><i class="far fa-folder"></i>Máy in</a>
            <ul class="sub-menu">
                <li class="sub-item active">Tuần 5</li>
                <li class="sub-item active">Tuần 5</li>
                <li class="sub-item active">Tuần 5</li>
            </ul>
        </li>
        <li class="item">
            <a href="production_index.html"><i class="far fa-folder"></i>Thành phẩm</a>
            <ul class="sub-menu">
                <li class="sub-item active">Tuần 5</li>
                <li class="sub-item active">Tuần 5</li>
                <li class="sub-item active">Tuần 5</li>
            </ul>
        </li>
        <li class="item">
            <a href="production_index.html"><i class="far fa-folder"></i>Máy ly</a>
            <ul class="sub-menu">
                <li class="sub-item active">Tuần 5</li>
                <li class="sub-item active">Tuần 5</li>
                <li class="sub-item active">Tuần 5</li>
            </ul>
        </li>
    </ul>
</div>
<div id="sidebar-left-hidden"></div>